apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  name: kube-vip
  namespace: kube-system
spec:
  containers:
  - args:
    - manager
    env:
    - name: port
      value: "{{ kube_vip_port }}"
    - name: vip_interface
      value: "{{ kube_vip_interface }}"
    - name: vip_cidr
      value: "{{ kube_vip_cidr }}"
    - name: cp_enable
      value: "true"
    - name: cp_namespace
      value: kube-system
    - name: vip_ddns
      value: "{{ kube_vip_ddns | lower }}"
    - name: lb_enable
      value: "{{ kube_vip_lb_enable | lower }}"
    - name: lb_port
      value: "{{ kube_vip_lb_port }}"
{% if kube_vip_mode == "arp" %}
    - name: vip_arp
      value: "true"
{% elif kube_vip_mode == "bgp" %}
    - name: vip_arp
      value: "false"
    - name: bgp_enable
      value: "true"
{% if kube_vip_bgp_routerid is defined %}
    - name: bgp_routerid
      value: "{{ kube_vip_bgp_routerid }}"
{% endif %}
{% if kube_vip_bgp_routerinterface is defined %}
    - name: bgp_routerinterface
      value: "{{ kube_vip_bgp_routerinterface }}"
{% endif %}
{% if kube_vip_bgp_as is defined %}
    - name: bgp_as
      value: "{{ kube_vip_bgp_as }}"
{% endif %}
{% if kube_vip_bgp_peers is defined %}
    - name: bgp_peers
      value:  "{{ kube_vip_bgp_peers }}"
{% endif %}
{% if kube_vip_bgp_peeraddress is defined %}
    - name: bgp_peeraddress
      value: "{{ kube_vip_bgp_peeraddress }}"
{% endif %}
{% if kube_vip_bgp_peeras is defined %}
    - name: bgp_peeras
      value: "{{ kube_vip_bgp_peeras }}"
{% endif %}
{% if kube_vip_bgp_peerpass is defined %}
    - name: bgp_peerpass
      value: "{{ kube_vip_bgp_peerpass }}"
{% endif %}
{% if kube_vip_bgp_sourceip is defined %}
    - name: bgp_sourceip
      value:  "{{ kube_vip_bgp_sourceip }}"
{% endif %}
{% endif %}
    - name: svc_enable
      value: "{{ kube_vip_svc_enable | lower }}"
    - name: svc_leasename
      value: "{{ kube_vip_svc_leasename }}"
    - name: vip_leaderelection
      value: "{{ kube_vip_leaderelection | lower }}"
    - name: vip_leasename
      value: "{{ kube_vip_leasename }}"
    - name: vip_leaseduration
      value: "{{ kube_vip_leaseduration }}"
    - name: vip_renewdeadline
      value: "{{ kube_vip_renewdeadline }}"
    - name: vip_retryperiod
      value: "{{ kube_vip_retryperiod }}"
    - name: address
      value: "{{ kube_vip_address }}"
    - name: prometheus_server
      value: "{{ kube_vip_prometheus_server }}"
    image: "{{ kube_vip_image | adriacloud.kubernetes.docker_image('ref') }}"
    imagePullPolicy: IfNotPresent
    name: kube-vip
    resources: {}
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kubeconfig
  hostAliases:
  - hostnames:
    - kubernetes
    ip: 127.0.0.1
  hostNetwork: true
  volumes:
  - hostPath:
{% if kubernetes_version is ansible.builtin.version('1.28.14', '<') %}
      path: "/etc/kubernetes/admin.conf"
{% else %}
      path: "{{ kube_vip_kubeconfig_path }}"
{% endif %}
    name: kubeconfig
status: {}
